# Build results
[Bb]in/
[Oo]bj/
[Oo]ut/

# .NET
*.user
*.suo
.vs/
.vscode/

# Rider
.idea/

# OS
.DS_Store

# NuGet
*.nupkg

# Local env / secrets
appsettings.Development.json

# Nessy (локальные настройки CLI)
.nessy/

.history